SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=
CSRF_TRUSTED_ORIGINS=
HTTPS_ENABLED=False
DJANGO_BIND_ADDR=127.0.0.1
AIRFLOW_BIND_ADDR=127.0.0.1
AIRFLOW_HOST_PORT=8080
AIRFLOW_FERNET_KEY=


SQLSERVER_DATABASE=
SQLSERVER_HOST=
SQLSERVER_PORT=
SQLSERVER_USER=
SQLSERVER_PASSWORD=
SQLSERVER_TRUST_SERVER_CERTIFICATE=

AIRFLOW_UID=
AIRFLOW_POSTGRES_USER=
AIRFLOW_POSTGRES_PASSWORD=
AIRFLOW_POSTGRES_DB=
AIRFLOW_ADMIN_USER=
AIRFLOW_ADMIN_PASSWORD=
