https://{$SITE_DOMAIN:data.pgi.com.vn} {
	tls {$CADDY_TLS_ARGS:/certs/fullchain.crt /certs/privkey.key}

	encode gzip

	header {
		X-Content-Type-Options nosniff
		Referrer-Policy same-origin
		-Server
	}

	@admin_from_internet {
		path /admin /admin/*
		not remote_ip private_ranges
	}
	respond @admin_from_internet 404

	reverse_proxy django:8000
}

http:// {
	redir https://{$SITE_DOMAIN:data.pgi.com.vn}{uri} permanent
}
